appnope
asttokens
atomicwrites
attrs
backcall
boto3
botocore
certifi
cffi
charset-normalizer
colorama
coverage
cycler
dataclasses-json
debugpy
decorator
entrypoints
executing
fonttools
htmlmin
idna
imagehash
iniconfig
ipdb
ipykernel
ipython
ipywidgets
jedi
jinja2
jmespath
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-widgets
kiwisolver
markupsafe
marshmallow-enum
marshmallow
matplotlib-inline
matplotlib
missingno
multimethod
mypy-extensions
nest-asyncio
networkx
numpy
owid-catalog
packaging
pandas-profiling
pandas-stubs
pandas
parso
pexpect
phik
pickleshare
pillow
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
py
pyarrow
pycparser
pydantic
pygments
pyparsing
pyrsistent
pytest-cov
pytest
python-dateutil
pytz
pywavelets
pywin32
pyyaml
pyzmq
requests
s3transfer
scipy
seaborn
setuptools-scm
six
stack-data
structlog
tangled-up-in-unicode
toml
tomli
tornado
tqdm
traitlets
typing-extensions
typing-inspect
unidecode
urllib3
visions
wcwidth
widgetsnbextension
